* {
    margin: 0 auto; 
    font-family: 'Gentium Book Basic', serif;
  }
  
body {
    margin: auto;
    /* width: 50%; */
    text-align: center;
    padding: 10px;
    background-image: url("./assets/wallpaper.jpg");
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:480px;
	padding-bottom: 8px;
    height: auto;
  }

h1 {
    color: #fff;
    background-color: #000;
    padding: 20px;
    margin: 8px;
}

button#show-by-letter-button {
	padding: 10px;
	color:#ffffff;
	background-color:#000000;
	font-size:24px;
	width: 480px;
}

a#random-button {
	padding: 10px;
	color:#ffffff;
	background-color:#000000;
	font-size:24px;
	width: 480px;
}

.button {
	background-color:#000000;
	border:1px solid #000000;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
}

#letter-form {
	box-shadow:inset 0px 1px 0px 0px #000000;
	background-color:#000000;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	padding:10px;
    margin: 8px;
	width: 480px;
	text-decoration:none;
}

#fate-form {
	box-shadow:inset 0px 1px 0px 0px #000000;
	background-color:#000000;
	border:1px solid #000000;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	padding:15px;
    margin: 1px;
	width: 480px;
	text-decoration:none;
	margin: 0 auto; 
}

input[type=text] {
	width: 15px;
	font-size:24px;
	background-color:#ffffff;
	color:#000000;
  }

  input[type=submit] {
	display: none;
  }

  select#fate-select {
	font-size:18px;
  }
  
  /* #fate-select {
	background-color:#ffffff;
	color:#000000;  
	font-size:14px;
  } */

/* the good one
a#random-button {
	background-color:#000000;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
  margin: 8px;
	padding:16px 76px;
	text-decoration:none;
} */

/* a#random-button {
  box-shadow:inset 0px 1px 0px 0px #000000;
	background-color:#000000;
	border-radius:28px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
  margin: 8px;
	padding:16px 76px;
	text-decoration:none;
} */

