* {
    margin: 0 auto; 
    font-family: 'Gentium Book Basic', serif;
  }
  
body {
    background-image: url("./assets/wallpaper.jpg");
	text-align: center;
}

section#tiny-container {
	color: #fff;
	background-color: #000;
}

section#tiny-container h1 {
	font-size: 10vw;
	padding: 3vw;
}

section#tiny-container h2 {
	font-size: 6vw;
	padding: 3vw;
}

section#nav-forms {
	padding-top: 2vw;
}

form {
	color: #fff;
	background-color: #000;
	font-size: 5vw;
	padding: 2vw;
	margin: 2vw 6vw 2vw 6vw;
}

input#random-submit {
	color: #000;
	background-color: #fff(153, 50, 50);
}

input#alpha-endparam {
	width: 5vw;
}

section#footer {
	color: #fff;
	background-color: #000;
	font-size: 3vw;
	padding: 2vw;
	display: flex;
	flex-direction: column;
	/* remove the two lines below as soon as possible */
	position: fixed;
	bottom: 0;
}


a:link, a:visited {
  color: #8898AF;
}
