* {
    margin: 0 auto;
	font-family: 'Dosis', sans-serif; 
    font-family: 'Gentium Book Basic', serif;
  }

a:link, a:visited {
  color: #8D7D68;
}  
  

body {
	display: flex;
	text-align: center;
	color: #fff;
	background-color: #000;
}

@media only screen and ( min-width: 768px ) {
	body {
		background-image: url( 'assets/wallpaper.jpg' );
	}
}


@media only screen and ( min-width: 768px ) {
	div#center-column {
			background-color: #000;
			width: 768px;
			padding: 10;
	}
}


section#main-page-header {
	padding: 10px;
	font-size: 26px;
}

/* @media only screen and ( min-width: 768px ) {
	section#main-page-header {
		font-size: 28px;
	}
}	 */


img#full-cast-image {
	width: 300px;
	height: auto;
	padding-top: 10px;
}


section#tiny-container h1 {
    padding: 5px;
    margin: 5px;
	font-size:42px;
}

@media only screen and ( min-width: 768px ) {
	section#tiny-container h1 {
		font-size:48px;
		padding: 5px;
	}
}


@media only screen and ( min-width: 768px ) {
	section#tiny-container img {
		width: 340px;
	}
}


section#tiny-container h2 {
    padding: 5px;
    margin: 12px 5px 12px 5px;
	font-size:32px;
}

@media only screen and ( min-width: 768px ) {
	section#tiny-container h2 {
		font-size:36px;
		padding: 0px;
	}
}


section#nav-forms{
	font-size: 5vw;
}

@media only screen and ( min-width: 768px ) {
	section#nav-forms form {
	font-size: 18px;
	padding: 8px;
	margin: 5px 175px 5px 175px;
	}
}


form {
	padding: 2vw 3vw 2vw 3vw;
	margin: 0vw 7vw 2vw 7vw;
	border-style: ridge;
	border-color: #8D7D68;
}

@media only screen and ( min-width: 768px ) {
	form {
	padding: 15px 0px 15px 0px;
	margin: 10px;
	font-size: 24px;
	border-width: 2px;
	border-color: #8D7D68;
	}
}


input {
	font-size: 4vw;
}

@media only screen and ( min-width: 768px ) {
	input {
	font-size: 18px;
	}
}

input#random-submit {
	color: #000;
	width: 420;
}

input#alpha-endparam {
	width: 5vw;
	text-align: center;
}

select#danger-select {
	font-size: 3vw;
}

@media only screen and ( min-width: 768px ) {
	select#danger-select {
		font-size: 18px;
	}
}

section#footer div{
	padding: 12px;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;   
}

@media only screen and ( min-width: 768px ) {
	section#footer div{
		width: 600px;
		padding: 10px;
		font-size: 16px;  
	}
}

section#footer div#about-me {
	font-family: 'Gentium Book Basic', serif;
	font-size: 24px;
	padding-bottom: 50px;  
}


