* {
    margin: 0 auto;
	font-family: 'Dosis', sans-serif; 
    font-family: 'Gentium Book Basic', serif;
  }
  
body {
	display: flex;
	text-align: center;
	color: #fff;
	background-color: #000;
}

a:link, a:visited {
  color: #8D7D68;
}

@media only screen and ( min-width: 768px ) {
	body {
		background-image: url( 'assets/wallpaper.jpg' );
	}
}

@media only screen and ( min-width: 768px ) {
	div#center-column {
			background-color: #000;
			width: 768px;
			padding: 10;
	}
}


section#main-page-header {
	padding: 10px;
	font-size: 26px;
}

@media only screen and ( min-width: 768px ) {
	section#main-page-header {
		padding: 20px;
		font-size: 30px;
	}
}	

img#full-cast-image {
	width: 340px;
	height: auto;
	padding-top: 15px;
}

@media only screen and ( min-width: 768px ) {
	img#full-cast-image {
		width: 420px;
		height: auto;
	}
}

section#nav-forms{
	font-size: 6vw;
}

@media only screen and ( min-width: 768px ) {
	section#nav-forms form {
	font-size: 24px;
	padding: 10px;
	margin: 5px 175px 5px 175px;
	}
}

form {
	padding: 2vw 3vw 2vw 3vw;
	margin: 0vw 7vw 2vw 7vw;
	border-style: ridge;
	border-color: #8D7D68;
}

@media only screen and ( min-width: 768px ) {
	form {
	padding: 15px 0px 15px 0px;
	margin: 10px;
	font-size: 24px;
	border-style: double;
	border-color: #fff;
	border-width: 2px;
	border-color: #8D7D68;
	}
}

input {
	font-size: 5vw;
}

@media only screen and ( min-width: 768px ) {
	input {
	font-size: 18px;
	}
}

input#random-submit {
	color: #000;
	width: 420;
}

input#alpha-endparam {
	width: 5vw;
	text-align: center;
}

select#danger-select {
	font-size: 5vw;
}

@media only screen and ( min-width: 768px ) {
	select#danger-select {
		font-size: 18px;
	}
}

section#footer div{
	padding: 12px;
	font-family: 'Dosis', sans-serif;
	font-size: 15px;   
}

@media only screen and ( min-width: 768px ) {
	section#footer div{
		width: 600px;
		padding: 20px;
		font-size: 22px;  
	}
}

section#footer div#about-me {
		font-family: 'Gentium Book Basic', serif;
		font-size: 24px;  
	}

/* @media only screen and ( min-width: 768px ) {
	section#footer div#about-me {
		font-size: 28px;
		/* font-family: 'Gentium Book Basic', serif;   */
	}
} */



